services:
  # ---------------- REDIS ----------------
  - type: redis
    name: securescan-redis
    region: oregon
    plan: free

  # ---------------- API ----------------
  - type: web
    name: securescan-api
    env: python
    region: oregon
    plan: free
    branch: main
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: uvicorn app.main:app --host 0.0.0.0 --port $PORT --workers 2
    healthCheckPath: /health
    envVars:
      - key: SUPABASE_URL
        value: https://gdcooiiderywiekarpvt.supabase.co

      - key: SUPABASE_ANON_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkY29vaWlkZXJ5d2lla2FycHZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMjQxODgsImV4cCI6MjA4NTYwMDE4OH0.g_r0b0pNRFJ0bmdBgcPXLO1-o1J3M_31lDmjwgC3T2w

      - key: SUPABASE_SERVICE_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkY29vaWlkZXJ5d2lla2FycHZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDAyNDE4OCwiZXhwIjoyMDg1NjAwMTg4fQ.g_JESMYaDfjQ3tfS415cSJBtbqaTY2CxhHMt_0TQkJc

      - key: SUPABASE_JWT_SECRET
        value: CfiZ7KWIXUFdVDpjjf1hIqQh+4M+LDJqFMGwo8q6XdrsoFIBO2oY7IVteDfKu2VCQOuK2dzSHCnu9pIjh8lkRA==

      - key: SECRET_KEY
        value: hello12345securekey67890examplekey

      - key: ALGORITHM
        value: HS256

      - key: ACCESS_TOKEN_EXPIRE_MINUTES
        value: 30

      - key: DEBUG
        value: "False"

      - key: APP_NAME
        value: SecureScan Pro API

      - key: APP_VERSION
        value: 1.0.0

      - key: REDIS_URL
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

  # ---------------- CELERY WORKER ----------------
  - type: worker
    name: securescan-worker
    env: python
    region: oregon
    plan: free
    branch: main
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: celery -A app.celery_worker:celery_app worker --loglevel=info --concurrency=2
    envVars:
      - key: SUPABASE_URL
        value: https://gdcooiiderywiekarpvt.supabase.co

      - key: SUPABASE_ANON_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkY29vaWlkZXJ5d2lla2FycHZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMjQxODgsImV4cCI6MjA4NTYwMDE4OH0.g_r0b0pNRFJ0bmdBgcPXLO1-o1J3M_31lDmjwgC3T2w

      - key: SUPABASE_SERVICE_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkY29vaWlkZXJ5d2lla2FycHZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDAyNDE4OCwiZXhwIjoyMDg1NjAwMTg4fQ.g_JESMYaDfjQ3tfS415cSJBtbqaTY2CxhHMt_0TQkJc

      - key: SUPABASE_JWT_SECRET
        value: CfiZ7KWIXUFdVDpjjf1hIqQh+4M+LDJqFMGwo8q6XdrsoFIBO2oY7IVteDfKu2VCQOuK2dzSHCnu9pIjh8lkRA==

      - key: SECRET_KEY
        value: hello12345securekey67890examplekey

      - key: REDIS_URL
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

  # ---------------- CELERY BEAT ----------------
  - type: worker
    name: securescan-beat
    env: python
    region: oregon
    plan: free
    ipAllowList: []
    branch: main
    rootDir: backend
    buildCommand: pip install -r requirements.txt
    startCommand: celery -A app.celery_worker:celery_app beat --loglevel=info
    envVars:
      - key: SUPABASE_URL
        value: https://gdcooiiderywiekarpvt.supabase.co

      - key: SUPABASE_ANON_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkY29vaWlkZXJ5d2lla2FycHZ0Iiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzAwMjQxODgsImV4cCI6MjA4NTYwMDE4OH0.g_r0b0pNRFJ0bmdBgcPXLO1-o1J3M_31lDmjwgC3T2w

      - key: SUPABASE_SERVICE_KEY
        value: eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6ImdkY29vaWlkZXJ5d2lla2FycHZ0Iiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MDAyNDE4OCwiZXhwIjoyMDg1NjAwMTg4fQ.g_JESMYaDfjQ3tfS415cSJBtbqaTY2CxhHMt_0TQkJc

      - key: SUPABASE_JWT_SECRET
        value: CfiZ7KWIXUFdVDpjjf1hIqQh+4M+LDJqFMGwo8q6XdrsoFIBO2oY7IVteDfKu2VCQOuK2dzSHCnu9pIjh8lkRA==

      - key: SECRET_KEY
        value: hello12345securekey67890examplekey

      - key: REDIS_URL
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

      - key: CELERY_BROKER_URL
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString

      - key: CELERY_RESULT_BACKEND
        fromService:
          type: redis
          name: securescan-redis
          property: connectionString